* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 1s;
}

body {
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.rezultati,
.pretraga {
  margin: 1em auto;
  text-align: center;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
  width: 40%;
  border-radius: 15px;
}
h2 {
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
  color: white;
  width: 40%;
  text-align: center;
  margin: 1em auto;
  border: 5px solid gray;
  border-radius: 15px;
}

.nesto2 {
  background: lightblue;
  color: white;
  width: 35%;
  border: 5px solid gray;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}

.nesto {
  margin: auto;
  padding: 10px;
  width: 101%;
}

.btn,
.query {
  border: 5px solid gray;
  border-radius: 15px;
  width: 35%;
  height: 40px;
  margin: 5px;
}

.btn:hover {
  background: rgb(103, 135, 165);
  scale: 1.06;
}
.btn {
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
  color: aliceblue;
}
